numpy==1.19.5
pickle5==0.0.11
timm==0.4.12
pandas==1.3.2
audiomentations==0.18.0
transformers==4.11.2
tensorflow==2.6.0
torchaudio==0.9.0
joblib==1.0.1
seaborn==0.11.1
scipy==1.7.1
numba==0.54.0
wandb==0.12.3
torch==1.9.1
cma==3.1.0
matplotlib==3.4.3
tqdm==4.62.2
coolname==1.1.0
efficientnet==1.1.1
nnAudio==0.2.6
pytorch_lightning==1.4.9
PyYAML==5.4.1
rfconv==0.0.2b20210406
scikit_learn==1.0
segmentation_models_pytorch==0.2.0
ssqueezepy==0.6.1
tensorflow_addons==0.14.0
tensorflow_hub==0.12.0
torchmetrics==0.5.1
