torch==1.8.0
torchmetrics==0.4.1
numba==0.52.0
pandas==1.2.3
numpy==1.19.2
coolname==1.1.0
tqdm==4.49.0
ssqueezepy==0.6.1
segmentation_models_pytorch.egg==info
cma==3.1.0
scipy==1.7.1
joblib==1.0.1
torchaudio==0.8.1
pytorch_lightning==1.4.1
timm==0.4.9
nnAudio==0.2.6
PyYAML==5.4.1
scikit_learn==1.0
segmentation_models_pytorch==0.2.0
